<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="/Css/home.css">

</head>
<body>
    <h1>Welcome to Seller App</h1>
  
    <div id="container"> 
        
    <div>
        <a href="/allSellers">
            <button>
                Want to Buy Products?
               
            </button>
        </a>
    </div>
   
   <div>


    <a href="/signup">   <button > Want To Sell Products ?</button></a> 
</div> 
   
</div>
  
</body>
</html>